body{
    font-family: Arial, sans-serif;
    background-color: grey;
    display: flex; /*using flexbox for the layout*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

/*styling the titile*/
#title{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
}

#search-posts, #new-post{
    width: 20%;
    min-width: 220px;
    background-color: blueviolet;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#search-posts input, #new-post input, #new-post textarea{
    padding: 8px;
    width: 100%;
    border: 1px solid white;
    box-sizing: border-box;
}

#display-posts {
    width: 50%;
    min-width: 300px;
    background-color: white;
    padding: 16px;
}

button{
    margin-top: 8px;
    padding: 8px 12px;
    background-color: gold;
    color: black;
}

@media (min-width: 841px){
    body{
        flex-direction: row;
        justify-content: space-between;
    }

#search-posts, #new-post{
    width: 20%;
    }

#display-posts{
    width: 50%;
    }
}

@media (max-width: 840px){
    body{
        flex-direction: column;
        align-items: center;
    }

#search-posts{
    width: 45%;
  }

#new-post {
    width: 45%;
    margin-top: 16px;
}

#display-posts {
    width: 90%;
    margin-top: 16px;
}
}




